@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,600&family=Comfortaa:wght@300&display=swap');

*{
	padding: 0;
	margin:0;
}

body{
	background-color: #08630A;
}
footer{
	background-color: white;

}


$fontMain:'Arimo', sans-serif;
$fontSecondary:'Comfortaa', cursive;


$textXL:3em;
$textLg:2em;
$textMd:1.5em;
$textSm:1em;
$textCenter:center;
$textRight:right;
$textLeft:left;
$textJust:justify;

$mainColor:#DCF54E;
$mainColorCuadro: rgba(107, 253, 87, 0.5);
$secondColor:#8FA804;
$keyColor:#08630A;

$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;

.conocenos__articulo{
		
	margin: 20px 10px;
	padding: 10px;
	background-color: white;
	height: 400px;

	p{
		
		color: $keyColor;
		font-family: $fontSecondary;
		font-size: $textSm;
		line-height: 1.4rem;
		text-align: justify;

		
	}
	img{
		margin: 0px auto;
		display: flex;
		align-items: center;
		width: $w-50;
			
					
	}		


}
.conocenos__noticias{
		@extend .conocenos__articulo;
		
		
}
.somos{
		@extend .conocenos__articulo;
		height: auto;
		
		
}
.carousel-item{
	img{
	height: 400px;
  	}
}
@mixin texto($font-size, $line-height,$color){
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
	text-align: center;
	padding: 4px 20px;
	
}
h1{
	@include texto(3em, 1.5em, #8FA804);
}

h2{
	@include texto(2em, 1.5em, #08630A, );
}

h3{
	@include texto(1.5em, 1em, #08630A);
}
p{
	@include texto(1em, 1.4em, #08630A);
}

$paleta:(
	'uno':#D1F505,
	'dos':#90A803,
	'tres':#DCF54E,
	'cuatro':#647502,
	'cinco':#7A8F03,

)