#main{

	.titulo1{
		font-size: $textXL;
		color:$secondColor;
	}
	.titulo2{
		font-size: $textLg;
		color:$keyColor;
	}
	.titulo3{
		font-size: $textMd;
		color:$keyColor;
	}
	.conocenos__articulo{
		margin: 20px 10px;
		padding: 10px;
		background-color: $mainColor;
		color: $keyColor;
		font-family:$fontSecondary;
		font-size: $textSm;
		line-height: 1.4rem;
	}
	.conocenos__noticias{
		margin: 20px 10px;
		padding: 10px;
		background-color: $mainColorCuadro;
		color: $keyColor;
		font-family:$fontSecondary;
		font-size: $textSm;
		line-height: 1.4rem;
	}

}