#main{

	h1{
		font-size: $textXL;
		color:$secondColor;
	}
	h2{
		font-size: $textLg;
		color:$keyColor;
	}
	h3
{
		font-size: $textMd;
		color:$keyColor;
	}
	

}

.table{
background-color: $mainColorCuadro;
}

.btn-success{
	box-shadow: map-get($map:$shadow,$key:'sh3');
}
.conocenos__articulo{
	box-shadow: map-get($map:$shadow,$key:'sh4');
}
