@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,600&family=Comfortaa:wght@300&display=swap');



$fontMain:'Arimo', sans-serif;
$fontSecondary:'Comfortaa', cursive;


$textXL:3em;
$textLg:2em;
$textMd:1.5em;
$textSm:1em;