//nesting

#botonera{
	background-color:$mainColor;
	padding: 0 30px;
	position: sticky;
	display:flex;
	justify-content: space-around;
	align-items: center;
	img{
		width: $w-50;
	}
	ul{
		display:flex;
		li{
			list-style:none;
			a{
				font-size: $textSm;
				color: $secondColor;
				text-decoration: none;
				font-family:$fontMain;
				margin-right: 30px;
				&:hover{
					color:$keyColor;
				}
			}
		}
	}

}